<!DOCTYPE html>
<html>
    <head>
        <title>vcar web</title>
    </head>

    <body>
        <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <h1> vCar Web </h1>
        <form action="localhost:5000" method="POST" target="dummyframe">
            <h4> Can Frame: </h4>
            <br>
            <input type="text" placeholder="000#1122334455667788" name="frame"/>
            <br>
            <button type="submit">send</button>
        </form>
    </body>
</html>
